# 28-7-2025 Class

In [ ]:
GenAIDict = {'subject': 'GenAI', 'Course ID': '001', 'Teacher':'Sourabh'}
GenAIDict['subject']

'GenAI'

In [ ]:
GenAIDict['name']

KeyError: 'name'

In [2]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

while True:
  print('Enter a name : (blank to quit)')
  name = input().strip() # remove leading and trailing spaces

  if name == '':
    break
  name_key = name.lower() #convert to lowercase

  if name_key in birthdays:
      print(birthdays[name_key] + ' is the birthay of ' + name.upper())
  else:
      print('I do not have birthday information for' + name.upper())
      print('What is their birthday')
      bday = input(). strip()
      birthdays[name_key] = bday
      print('Birthday database updated')

Enter a name : (blank to quit)
adnan
Oct 16 is the birthay of ADNAN
Enter a name : (blank to quit)
Monish
I do not have birthday information forMONISH
What is their birthday
Mar 24
Birthday database updated
Enter a name : (blank to quit)
monish
Mar 24 is the birthay of MONISH
Enter a name : (blank to quit)

In [ ]:
print(birthdays)

{'aadesh': 'Nov 10', 'debapriya': 'Aug 13', 'adnan': 'Oct 16', 'monish': 'Mar 24'}

In [ ]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

for birthday in birthdays.values():
  print(birthday)

Nov 10
Aug 13
Oct 16

In [ ]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

for birthday in birthdays.keys():
  print(birthday)

aadesh
debapriya
adnan

In [ ]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

for birthday in birthdays.items():
  print(birthday)

('aadesh', 'Nov 10')
('debapriya', 'Aug 13')
('adnan', 'Oct 16')

In [ ]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

if 'Nov 10' in birthdays.values():
  print(birthday)
else :
  print('not present')

('adnan', 'Oct 16')

In [ ]:
birthdays = {'aadesh': 'Nov 10','debapriya': 'Aug 13','adnan': 'Oct 16'}

if(birthdays.get('adnan')):
  print('do something')
else:
  print('do something else')

do something